{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container my-5">

  <div class="row">

    {% comment %} Columna izquierda {% endcomment %}
    <div class="col col-sm-12 col-md-7 col-lg-8 col-xl-9 order-2 order-sm-2 order-md-1 mx-auto mb-5">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title">{{ post.title }}</h1>
        </div>
      </div>
      <img class="img-fluid mb-4" src="{{ post.image }}" alt="{{ post.title }}">
      <div style="text-align: justify;">
        {% autoescape off %}
        {{ post.content }}
        {% endautoescape %}
      </div>

      <div class="col col-md-6 col-sm-8 col-auto">
        <div class="my-5">
          <h3>Comentarios...</h3>
          {% if not post.comments.all %}
          <p class="lead">Sé el primero en comentar!</p>
          {% else %}
          {% for comment in post.comments.all %}
          <div class="my-4">
            <small>{{ comment.author }} - {{ comment.date }}</small>
            <p>{{ comment.comment }}</p>
            {% for response in comment.responses.all %}
            <div class="mx-4">
              <small>{{ response.author }} - {{ response.date }}</small>
              <p>{{ response.response }}</p>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
          {% endif %}
        </div>

        {% comment %} Agregar comentario {% endcomment %}

        <p class="lead">Agregar un comentario:</p>
        <form method="post" action="{% url 'add_comment_to_post' post_id=post.pk %}">
          {% csrf_token %}
          {{ comment_form|crispy }}
          <input class="btn" type="submit" value="Comentar">
        </form>

      </div>

    </div>

    {% comment %} Columa derecha {% endcomment %}
    <div class="col col-sm-6 col-md-5 col-lg-4 col-xl-3 order-1 order-sm-1 order-md-2 mx-auto mb-5">
      {% comment %} Categorias {% endcomment %}
      <div class="card text-center">
        <div class="card-header">
          <h5 class="card-title">Categorías</h5>
        </div>
        <div class="card-body">
          {% for category in category_list %}
          <p><a href="{% url 'post_by_category' category=category %}">{{category.name}}</a></p>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}