{% extends "base.html" %}

{% block content %}

<div class="container my-5">

    <!-- About -->

    <section class="container my-5 py-5">
        <div class="row my-5 py-5 justify-content-center">
            <div class="col col-sm-12 col-md-4 col-lg-3 col-auto text-center mb-3 p-3">
                <img src="https://avatars.githubusercontent.com/u/59125675?v=4" alt="My picture" class="rounded-circle"
                    style="width: 15rem; height: 15rem;">
            </div>
            <div class="col col-sm-12 col-md-8 col-lg-6 col-auto text-center p-3">
                <h1 class="display-2">{{profile.name}}</h1>
                <h2 class="display-5">{{profile.title}}</h2>
            </div>
        </div>
        <div class="row my-5 py-5">
            <div class="p-5 text-center bg-body-tertiary rounded-3 shadow">
                <p class="lead"><span class="fw-bold me-2">Acerca de mi:</span>{{profile.about}}</p>
            </div>
        </div>
    </section>

    <!-- Technologias -->

    <section class="container my-5 py-5">

        <div class="row text-center my-5 py-5">
            <h3>Tecnologías que uso:</h3>
        </div>

        <div class="row justify-content-center my-5 py-5">

            {% for technology in profile.technologies %}

            <div class="card m-3 p-3 border-light shadow" style="width: 9rem; height: 9rem">
                <img src="{{ technology.logo }}" class="card-img-top" alt="{{ technology.alt }}">
            </div>

            {% endfor %}
        </div>
    </section>

    <!-- Proyectos -->

    <section class="container my-5 py-5">
        <div class="row text-center my-5 py-5">
            <h3>Mis proyectos:</h3>
        </div>
        {% for project in profile.projects %}
        <div class="row my-5 py-5">
            <div class="col col-lg-6 col-md-8 col-sm-12 col-auto mx-auto mb-4">
                <div class="card border-light m-3 shadow">
                    <a href="{{project.link}}" target="_blank">
                        <img class="img-fluid" src="{{project.img}}" alt="{{project.alt}}">
                    </a>
                </div>
            </div>
            <div class="col col-lg-6 col-md-8 col-sm-12 col-auto mx-auto">
                <div class="d-flex h-100 m-3">
                    <div class="my-auto">
                        <p class="lead"><span class="fw-bold">{{project.name}}: </span>{{project.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

</div>

{% endblock %}